<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<fieldset>
		<legend>Crea Autore</legend>
		<form action="#" th:action="@{/protected/createAutore}"
			th:object="${autore}" method="post">
			
			<p>
				<label>Nome:</label>
				<input type="text" th:field="*{nome}" />
			</p>
			<p>
				<label>Cognome:</label>
				<input type="text" th:field="*{cognome}" />
			</p>
			<p>
				<label>Nazionalità:</label>
				<input type="text" th:field="*{nazionalita}" />
			</p>
			<p>
				<label>Data di nascita:</label>
				<input type="text" th:field="*{dataDiNascita}" />
			</p>
			<p>
				<label>Data di morte:</label>
				<input type="text" th:field="*{dataDiMorte}" />
			</p>
			
			<p>
				<input type="submit" value="Registra autore" />
			</p>
			
		</form>
	</fieldset>
</body>
</html>