<!DOCTYPE html>
<html xmlns:form="http://www.springframework.org/tags/form"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Aggiungi un quadro</title>
</head>
<body>
	<form:form commandName="quadro" method="post" action="/createQuadro">
		<fieldset>
			<legend>Aggiungi un quadro</legend>

			<p>
				<label for="username">Titolo</label> <input type="text"
					th:field="*{titolo}" />
			<p th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}">
				Errore!</p>

			<p>
			<label for="anno">Anno</label> <input type="text" th:field="anno" />
			<p th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}">
				Errore!</p>

			<p>
			<label for="dimensioni">Dimensioni</label> <input type="text"
				th:field="dimensioni" />
			<p th:if="${#fields.hasErrors('dimensioni')}"
				th:errors="*{dimensioni}">Errore!</p>

			<p>
			<label for="tecnica">Tecnica</label> <input type="text"
				th:field="tecnica" />
			<p th:if="${#fields.hasErrors('tecnica')}" th:errors="*{tecnica}">
				Errore!</p>

			<p>
			<label for="autore">Nome dell'autore</label> <input type="text"
				th:field="tecnica" />
			<p th:if="${#fields.hasErrors('tecnica')}" th:errors="*{tecnica}">
				Errore!</p>

			<p>
				<input type="submit" value="Inserisci Quadro" />
			</p>

		</fieldset>
	</form:form>
	<a href="/index"> <img src="/img/Homepage.png" /></a>
</body>
</html>
