<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<fieldset>
		<legend>Crea un quadro</legend>
		<form action="#" th:action="@{/protected/createQuadro}" th:object="${quadro}" method="post">
			
			<p>
				<label>Titolo</label>
				<input type="text" th:field="*{titolo}" />
			</p>
			
			<p>
				<label>Anno</label>
				<input type="text" th:field="*{anno}" />
			</p>
			
			<p>
				<label>Tecnica</label>
				<input type="text" th:field="*{tecnica}" />
			</p>
			
			
			
			<p>	Dimensioni
				<input type="text" th:field="*{dimensioni.width}" placeholder="larghezza"/>
				 x 
				<input type="text" th:field="*{dimensioni.height}" placeholder="altezza"/>
			</p>
			
			<select id="autore" th:field="*{autore}">
				<option value="">Seleziona un autore</option>
				<option th:each="autore : ${autori}" th:value="${autore.id}" th:text="${autore.nome + ' ' + autore.cognome}"></option>			
			</select>
			
			<p>
				<input type="submit" value="Crea Quadro" />
			</p>
		</form>
	</fieldset>
</body>
</html>