<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.springframework.org/security/tags">

<head>
<title>Homepage</title>
<meta charset="UTF-8" />
</head>

<body>
	Benvenuto nella Galleria Lauzicone. Esegui il login
	<form action="/login" method="get">
		<input type="submit" value="Login" name="login" />
	</form>

	<form action="#" th:action="@{/viewAutore}" id="viewAutore" th:object="${autore}" method="post">
		<input type="submit" value="Cerca Autore" />
	</form>
	
	<select form="viewAutore">
		<option>Seleziona un autore</option>
		<option th:each="autore : ${autori}" th:value="${autore.id}" th:text="${autore.nome + ' ' + autore.cognome}"></option>
	</select>
	
	<form action="#" th:action="@{/protected/createQuadro}"  method="get">
		<input type="submit" value="Crea quadro"  sec:authorize="isAuthenticated()"/>
	</form>
	
	<form action="#" th:action="@{/protected/createAutore}"  method="get">
		<input type="submit" value="Crea autore"  sec:authorize="isAuthenticated()"/>
	</form>
	
</body>
</html>