<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registrati</title>
</head>
<body>
	<form action="processaDatiRegistrazione" method="post">
		<table>
		
			<tr>
				<td><input type="text" value="Nome" name="nome"></td>
			</tr>
			
			<tr>
				<td><input type="text" value="Cognome" name="cognome"></td>
			</tr>
			
			<tr>
				<td><input type="text" value="GG" name="gg"></td>
			</tr>
			
			<tr>
				<td><input type="text" value="MM" name="mm"></td>
			</tr>
			
			<tr>
				<td><input type="text" value="AAAA" name="aaaa"></td>
			</tr>
			
		</table>
	</form>
</body>
</html>