<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Registrati</title>
</head>

<body>
	<form action="/createUtente" method="post">
		<table>

			<tr>
				<td><input type="text" value="Nome" name="nome" /></td>
			</tr>

			<tr>
				<td><input type="text" value="Cognome" name="cognome" /></td>
			</tr>
			
			<tr>
				<td>Data di nascita:</td>
			</tr>
			<tr>
				<td><input type="text" value="GG" name="gg" /></td>
				<td><input type="text" value="MM" name="mm" /></td>
				<td><input type="text" value="AAAA" name="aaaa" /></td>
			</tr>

			<tr>
				<td><input type="text" value="Username" name="username" /></td>
			</tr>

			<tr>
				<td><input type="password" value="Password" name="password" /></td>
			</tr>

			<tr>
				<td><input type="submit" value="Registrati!" /></td>
			</tr>
		</table>
	</form>
</body>
</html>