<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Utente registrato</title>
</head>

<body>
	Username: <p th:text="${utente.username}">Not found</p>
	Password: <p th:password="${utente.password}">Protected</p>
	
	<form action="/login" method="get">
    	<input type="submit" value="Login" name="login"/>
    </form>
	
	<form action="#" th:action="@{/protected/createUtente}" th:object="${utente}"
			method="get">
				<input type="submit" value="Aggiungi un altro quadro" />
		</form>
	
	<a href="/index"> <img src="/img/Homepage.png" /></a>
	
	
	
</body>
</html>