<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Quadro inserito</title>
</head>

<body>
	<label>Titolo </label>
	<p th:text="${quadro.titolo}">Not found</p>
	<label>Anno </label>
	<p th:text="${quadro.anno}">Not found</p>
	<label>Tecnica </label>
	<p th:text="${quadro.tecnica}">Not found</p>
	<label>Dimensioni </label>
	<p th:text="${quadro.dimensioni.width + 'x' + quadro.dimensioni.height + ' cm'}">Not found</p>
	<label>Autore </label>
	<p th:text="${autore.nome + ' ' + autore.cognome}">Not found</p>

	<form action="#" th:action="@{/protected/createQuadro}" method="get">
		<input type="submit" value="Aggiungi un altro quadro" />
	</form>

	<a href="/index"> <img src="/img/Homepage.png" /></a>



</body>
</html>
