<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
<meta charset="UTF-8" />
<title>Quadro inserito</title>
</head>

<body>
	<label><strong>Titolo</strong></label>
	<p th:text="${quadro.titolo}">Not found</p>
	<label><strong>Anno </strong></label>
	<p th:text="${quadro.anno}">Not found</p>
	<label><strong>Tecnica</strong></label>
	<p th:text="${quadro.tecnica}">Not found</p>
	<label><strong>Dimensioni</strong></label>
	<p th:text="${quadro.larghezza + 'x' + quadro.altezza + ' cm'}">Not found</p>
	<label><strong>Autore</strong></label>
 	<p th:text="${autore.nome + ' ' + autore.cognome}">Not found</p>
	
	<form action="#" th:action="@{/protected/createQuadro}" method="get">
		<input type="submit" value="Aggiungi un quadro" />
	</form>

	
	
	<form action="#" th:action="@{'/protected/removeQuadro/' + ${quadro.id}}"  method="get">
		<input type="submit" value="Cancella quadro"  sec:authorize="isAuthenticated()"/>
	</form>

	<a href="/index"> <img src="/img/Homepage.png" /></a>



</body>
</html>
