<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Autore registrato</title>
</head>

<body>
	<label>Nome: </label>
	<p th:text="${autore.nome}">Not found</p>
	<label>Cognome: </label>
	<p th:text="${autore.cognome}">Not found</p>
	<label>Nazionalità: </label>
	<p th:text="${autore.nazionalita}">Not found</p>
	<label>Data di nascita: </label>
	<p th:text="${#dates.format(autore.dataDiNascita, 'dd/MM/yyyy')}">Not found</p>
	<label>Data di morte: </label>
	<p th:text="${#dates.format(autore.dataDiMorte, 'dd/MM/yyyy')}">Not found</p>

	<form action="#" th:action="@{/protected/createAutore}" method="get">
		<input type="submit" value="Aggiungi un altro autore" />
	</form>

	<a href="/index"> <img src="/img/Homepage.png" /></a>



</body>
</html>
